<div class = "statistics_container">
      <div class="match_teams" id = "match_teams">
<!--          <div class="match_teams_info">-->
<!--              <div class="home_team_info">-->
<!--                  <div class="home_team_info_name"><p>Team1</p></div>-->
<!--                  <div class="home_team_info_data"><p>data </p></div>-->
<!--              </div>-->
<!--              <div class="field">-->
<!--                  <div class="field_home">-->
<!--                      <div class="field_line">-->
<!--                          <div class="player"></div>-->
<!--                      </div>-->
<!--                      <div class="field_line">-->
<!--                          <div class="player"></div>-->
<!--                          <div class="player"></div>-->
<!--                          <div class="player"></div>-->
<!--                          <div class="player"></div>-->
<!--                           <div class="player"></div>-->
<!--                          <div class="player"></div>-->
<!--                      </div>-->
<!--                      <div class="field_line">-->
<!--                          <div class="player"></div>-->
<!--                          <div class="player"></div>-->
<!--                          <div class="player"></div>-->
<!--                          <div class="player"></div>-->
<!--                      </div>-->
<!--                  </div>-->
<!--                  <div class="field_away"></div>-->
<!--              </div>-->
<!--              <div class="away_team_info">-->
<!--                  <div class="away_team_info_name">Team2</div>-->
<!--                  <div class="away_team_info_data"></div>-->
<!--              </div>-->
<!--          </div>-->
      </div>
      <div class="match_statistics statistics" id = "match_team_statistics">

      </div>
      <div class="teams_statistics statistics">
        Команды тут
      </div>
      <div class="history_statistics statistics">
        Хисторикал тут
      </div>
</div>